<div class="container">
	<div class="row">
		<h1 class="listTitle">Saved DPR Codes</h1>
		<div class="messageArea col-xs-12" ng-if="!showCodes">
			<h3>{{message}}</h3>
		</div>
		<div class="codeMedia col-xs-12" ng-if="showCodes" ng-repeat="x in codes | orderBy: 'date'">
			<div class="col-xs-12 col-sm-4">
				<h3>Name:</h3>
				<p>{{x.name | lowercase}}</p>
			</div>
			<div class="col-xs-12 col-sm-8">
				<h3>Description:</h3>
				<p>{{x.description | lowercase}}</p>
			</div>
		</div>
	</div>
</div>